@charset "UTF-8";

body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	/* font-size: x-large; */

}

.iro{
	text-align: center;
}
.cim{
	text-align: center;
	
}
.fej {
	background-color: #cccccc;
	color: black;
	padding: 6px;
	/*
	border-style: solid;
	border-width: 1px;
	*/
	text-align: center;
}
.tartalom {
	width:800px;
	background-color: #eee;
	color: black;
	margin: 0px auto; 

}